<div id='start'>Searching by author J.R.R Tolkien, find the first book in the Lord of the Rings trilogy, The Fellowship of the Ring.</div>
<button onclick="show('next1')">Next Book</button>
<div id='next1' class="hide">
    <br />Using a keyword search with at most two keywords, find the book "China and the West: Music, Representation, and Reception".<br />
    <button onclick="show('next2')">Next Book</button>
    <div id='next2' class="hide">
        <br />Find a book related to rhetoric that was created in 1978 and has been published by the Cornell University Press.
    </div>
</div>

<script>
    function show(id) {
        var myDiv = document.getElementById(id);
        myDiv.classList.toggle("hide");
    }
    </script>